.container.text-center
  %h3 Developer
  .col-md-12
    = image_tag 'developer.jpg', :style => "border-radius:50%;", :size => "195x195"
  .col-md-12
    %i.fa.fa-facebook-square.fa-size
    %strong= link_to 'Daiki Nagaoka', "https://www.facebook.com/profile.php?id=100002760214027", :target => '_blank', :style =>'border-bottom: 1px solid;'
    %p Noob Front/Server Engineer
